domainPortSetUp.json
*.so
.venv
*.pyc
*.csv
*.sh
*credentials.json
.env
Flask-App/NextdoorScraper/data/curr/*
!Flask-App/NextdoorScraper/data/curr/.gitkeep
Flask-App/NextdoorScraper/data/diff/*
!Flask-App/NextdoorScraper/data/diff/.gitkeep
Flask-App/NextdoorScraper/data/prev/*
!Flask-App/NextdoorScraper/data/prev/.gitkeep
Flask-App/NextdoorScraper/data/logs/*
!Flask-App/NextdoorScraper/data/logs/.gitkeep

/data/*
!/data/.gitkeep

Flask-App/TutoringCalc/keys/*
!/Flask-App/TutoringCalc/keys/.gitkeep
